<div style="padding:5px 5px">
	<!-- 1.列表 http://www.jeasyui.com/documentation/index.php# datagrid -->
	<table id="dg-esysMenu" class="easyui-datagrid" style="width: 100%; height: 500px"
		pagination="true" rownumbers="true" fitColumns="true" singleSelect="true"
		toolbar="#toolbar-esysMenu">
		<thead>
			<tr>
				<th field="id" width="100">ID</th>
				<th field="name" width="30">名称</th>
				<th field="url" width="100">URL</th>
				<th field="icon" width="30">图标</th>
				<th field="parentName" width="30">上级</th>
			</tr>
		</thead>
	</table>
</div>
<!-- datagrid工具栏 -->
<div id="toolbar-esysMenu">
    <a class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="loadEsysMenuCreateForm()">创建</a>
    
</div>

        <div id="dlg-esysMenu-create" class="easyui-dialog" title="创建菜单" closed="true"
		    style="width: 450px; height: 380px; padding: 10px 20px" buttons="#btn-esysMenu-create">
		    <div class="ftitle">请输入菜单信息</div>
		    <form id="fm-esysMenu-create" method="post">
		        <div class="fitem">
		            <label>ID:</label>
		            <input name="id" class="easyui-textbox"/>
		        </div>
		    </form>
		    
		</div>




<!-- 4.所有按钮的点击响应事件 -->
<script type="text/javascript">
	// 为datagrid增加onBeforeLoad事件
	$('#dg-esysMenu').datagrid({
		url : "esys/menu/list"
	});
	
	
	
</script>