<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>系统管理</title>
	<!-- theme setting - http://www.jeasyui.com/demo/main/index.php -->
	<link rel="stylesheet" type="text/css" href="js/easyui/themes/bootstrap/easyui.css">
	<link rel="stylesheet" type="text/css" href="js/easyui/themes/icon.css"/>
	<script type="text/javascript" src="js/easyui/jquery.min.js"></script>
	<script type="text/javascript" src="js/easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="js/easyui/datagrid-detailview.js"></script>
	<script type="text/javascript" src="js/easyui/locale/easyui-lang-zh_CN.js"></script>
	<script type="text/javascript" src="js/easyui/jquery.form.min.js"></script>
	<script type="text/javascript" src="js/echarts.min.js"></script>
	<script type="text/javascript" src="js/app/main.js"></script>
	<script type="text/javascript" src="js/app/sys.js"></script>
	
	<style type="text/css">
		.ftitle{
			font-size:14px;
			font-weight:bold;
			padding:5px 0;
			margin-bottom:10px;
			border-bottom:1px solid #ccc;
		}
		.fitem{
			margin-bottom:5px;
		}
		.fitem label {
			display:inline-block;
			width:60px;
		}
		.fitem input{
			width:200px;
		}
		.fitem select{
			width:200px;
		}
	</style>
</head>
<!-- 请参考：http://www.jeasyui.com/documentation/index.php -->
<!-- layout -->
<body class="easyui-layout">
	<!-- panel -->
	<div id="woMenuTreePanel" data-options="region:'west',split:true, title:'菜单'" style="width:200px;padding:10px;" class="easyui-panel">
		<!-- tree -->
		<ul id="woMenuTreeUl">
		</ul>
	</div>
	<!-- tabs -->
	<div id="woContentTabPanel" data-options="region:'center',title:'工作区'" class="easyui-tabs" style="width:700px;height:250px">
		
		<div title="主页" style="padding:10px">
		<div id="woChangePW">
		<a href="javascript:void(0)" style="width:80px;hight:15px;float:right">修改密码</a>
		</div>
			<p style="font-size:14px">欢迎来到景区管理系统！</p>
			<ul>
			<li><p>如果您是游客，您可以：</p></li>
			<ul>
				<li><p>维护自身的信息</p></li>
				<li><p>管理自己的评论</p></li>
			</ul>
			<li><p>如果您是工作人员，您可以：</p></li>
			<ul>
				<li><p>维护景区信息，包括景区、景点、住宿、美食</p></li>
				<li><p>管理游客对景区的评论</p></li>
				<li><p>管理自己的售票记录</p></li>
			</ul>
			<li><p>如果您是管理者，您可以：</p></li>
			<ul>
				<li><p>维护景区信息，包括景区、景点、住宿、美食、门票等</p></li>
				<li><p>管理游客对景区的评论</p></li>
				<li><p>管理自己的售票记录</p></li>
				<li><p>维护景区所有人员信息</p></li>
				<li><p>查看景区所有的售票记录</p></li>
			</ul>
			</ul>
		</div>
	</div>
</body>
</html>
	